# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "8fc98a55cd37bbf33edfbda31d8234d6"
name = "PromoNexAI_App"
application_url = "https://shopify.promonexai.com/"
embedded = true

[webhooks]
api_version = "2026-01"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = ""
optional_scopes = [ ]
use_legacy_install_flow = false

[auth]
redirect_urls = [
  "https://shopify.promonexai.com/auth/callback",
  "https://shopify.promonexai.com/auth/shopify/callback"
]
